

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=semga_db

PORT=8081
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
SECRET=my-secret
SESSION_AT=86400000
SERVER_IP=http://localhost